:root {
    --primary-blue: #14213d;
    --primary--yellow: #FF8541;
}

.bg-primary-blue {
    background-color: var(--primary-blue);
}

.bg-primary-yellow {
    background-color: var(--primary--yellow);
}

.fs-Londrina-Solid {
    font-family: 'Londrina Solid';
}

.color-pr-yellow {
    color: var(--primary--yellow);
}

.body-image {
    object-fit: cover;
}

.main-form {
    line-height: 1.6;
    color: #14213d;
    max-width: 800px;
    margin: 0 5%;
    padding: 20px;
    background-color: #ffffff;
}

.Title {
    font-family: "Londrina Solid";
    color: var(--primary-blue);
    font-size: 50px;
}

h1,
h2 {
    font-size: xx-large;
    color: #2c3e50;
}

.form-group {
    margin-bottom: 20px;
}

.label-menu-form {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #34495e;
    margin-top: 40px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.submit-menu-form {
    background-color: var(--primary-blue);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.info-section {
    margin-top: 40px;
    background-color: #fff;
    border-radius: 8px;
}

.error {
    color: #e74c3c;
    font-size: 0.9em;
    margin-top: 5px;
}